html, body {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #f1f3e5;
}

nav a {
    padding: 14px 10px;
    
}

nav a:hover{
    background-color: #f2c1006e;
}

header nav {
    padding: 10px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

header nav ul li a {
    text-decoration: none;
    color: #545454;;

}